<ion-content>
	<img class="imgLogo" src="../../assets/img/logoName.png">

	<div class="ion-padding formLogin">    
		<ion-item class="ion-margin-top">
			<ion-input class="myInput" id="userLogin" type="text" placeholder="     Login"></ion-input>
		</ion-item>

		<ion-item class="ion-margin-top">
			<ion-input class="myInput" id="userPassword" type="password" placeholder="     Senha"></ion-input>
		</ion-item>

		<div class="diMessage">
			<span class="messageLine">Login Geo-Report</span>
		</div>

		<ion-button class="confirm" (click)="validateLogin()">Entrar</ion-button>
	</div>
</ion-content>
