.neighboorhood {
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  font-weight: 600;
  color: #4c4c4c;
}

.menu-outline-left{
  position: absolute;
  display: flex;
  float: left;
  font-size: 25px;
}
