<ion-header>
  <div class="padding-20 div-header">
    <h4>Minhas denúncias</h4>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div class="imgBackgroundReport" *ngIf="this.reportService.reports.length == 0">
      <img class="imgLogo" src="../../assets/img/emptyBox.svg">
      <p style="text-align: center">Não há denúncias cadastradas</p>
      <ion-button class="btnDefault" style="margin-top: 20px;" (click)="createNewReport()">Nova denúncia</ion-button>
    </div>
    <ion-item-sliding *ngFor="let report of this.reportService.reports">
      <ion-searchbar (ionInput)="searchReport($event)" clearInput></ion-searchbar>
      <ion-item (click)="openReportData(report.id)">
        <ion-avatar slot="start">
          <img src="{{report.image}}">
        </ion-avatar>
        <ion-label>
          <p>{{report.title}}</p>
        </ion-label>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option *ngIf="report.sent == 0" (click)="this.reportService.confirmSendReport(report.id)">Enviar</ion-item-option>
        <ion-item-option color="light" *ngIf="report.sent == 1" (click)="sendTextBox()">Enviada</ion-item-option>
        <ion-item-option (click)="openEditReport(report.id)">Editar</ion-item-option>
        <ion-item-option (click)="this.reportService.confirmDeleteReport(report.id)">Apagar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
