.div-report-info-data{
  width: 100%;
}

.report-data{
  width: 100%;
  background: #f6f8fa;
  margin-bottom: 10px;
  padding: 7px 7px 7px 20px;
  border-radius: 5px;
}

.report-data-image {
  width: 100%;
}

.menu-outline-left{
  position: absolute;
  display: flex;
  float: left;
  font-size: 25px;
}
