/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "../node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.css";
@import "../node_modules/leaflet.markercluster/dist/MarkerCluster.css";
@import "../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css";

@font-face {
  font-family: 'myWebFont';
  src: url('assets/img/Poppins-Medium.ttf'); /* IE9 Compat Modes */
}

.btnExpand{
  --background: linear-gradient(to right, #ff826b, #ff6e8d);
  --background-activated: #ff787c;
  --background-hover: #ff787c;
}

:root {
	--ion-color-primary: #ff787c;
    --ion-color-secondary: #b1b1b1;
    --ion-font-family: 'myWebFont';
    font-size: 1rem;
}

.inline-start {
  position: relative;
  top: 30px;
  padding-inline-start: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
  margin: 0;
}

.btnDefault{
  --background: linear-gradient(to right, #ff826b, #ff6e8d);
  color: #ffffff;
  width: 100%;
  position: relative;
  font-weight: 500;
  transition: 0.5s;
  margin: 0;
  height: 42px;
  font-size: 14px;
  --border-radius: 40px;
  text-decoration: none;
  --padding: 5px 15px;
}

.btnDefault-2{
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  letter-spacing: 1px;
  display: inline-block;
  border-radius: 3px;
  transition: 0.5s;
  text-transform: uppercase;
  --background: #f9f9f9;
  color: #ff787c;
  --border: 1px solid #ff787c;
}

.menu-outline{
  display: flex;
  float: right;
  font-size: 25px !important;
}

.menu-outline-left{
  display: flex;
  float: left;
  font-size: 25px !important;
  //margin-top: 12px;
}

ion-content{
  --ion-background-color: #f7f7f7;
}

ion-header{
  height: 15vh;
  background: linear-gradient(#ff826b, #ff6e8d);
}

.div-header{
  height: 100%;
  color: #fff;
}

.background-red {
  background: #ff787c !important;
}

.color-red {
  color: #ff787c;
}

.padding-20 {
  padding: 20px;
}

ion-header > div {
  color: #fff;
}

h4 {
  margin: 0;
  line-height: 58px;
  font-weight: 300;
}
